<% content_for :title, 'Artists' %>
<h1>Artists (<%= @artists_count %>)</h1>

<form id="filter" data-turboform >

  <%# The text search %>
  <div class="form-group">
    <div class="input-group">
      <input id="text_filter" name="text_filter"
        type="text" class="form-control"
        placeholder="Artist name" value="<%= params[:text_filter] %>"/>

      <span class="input-group-btn">
        <button id="search_button" class="btn btn-default" type="button" title="Do the search">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= select_tag "order",
      options_from_collection_for_select(@sort_options, :first, :last, params[:order]),
      class: "form-control"
    %>
  </div>

</form>

<%# Table operations %>
<p class="songs_ops_container sticky_ops">
  <%= render 'shared/songs_table/operations' ,
    { show_edit: false , show_delete: false , show_download: true ,
      show_excel: false } %>
</p>

<table id="artists" class="table" style="width:100%" >
  <thead>
    <th class="selection_column">
        <input type="checkbox" class="select_all" />
    </th>
    <th class="hidden-xs" style="text-align: center">Image</th>
    <th>Name</th>
    <th class="hidden-xs">Wikipedia link</th>
    <th></th>
  </thead>

  <tbody>
    <%= render 'artist_rows' %>
  </tbody>

</table>

<%# Path to load the next songs page %>
<%= hidden_field_tag 'load_page_artists_path' , load_page_artists_path %>
<%# Paths to suggest artists names %>
<%= hidden_field_tag('suggest_artists_path' , suggest_artists_path ) %>
<%# Paths to add artists songs to queue %>
<%= hidden_field_tag('add_to_queue_artists_path' , add_to_queue_artists_path ) %>
<%# Paths to download artists playlist %>
<%= hidden_field_tag('download_playlist_artists_path' , download_playlist_artists_path ) %>
<%# Paths to download artists songs %>
<%= hidden_field_tag('download_multiple_artists_path' , download_multiple_artists_path ) %>

<%# Initialize the page %>
<%= javascript_tag do %>
  pageState.setPage(artistsIndexPage);
<% end %>
