<% content_for :title, 'Songs' %>
<h1>Songs (<%= @songs_count %>)</h1>

<%# General operations %>
<p>

  <% playlist_name = controller.current_player_state.play_list.name %>
  <%= link_to music_cmd_songs_path({ :cmd => :queue_all_and_shuffle }) ,
    data: { confirm: 'Are you sure you want to clean the queue and play all available songs shuffled?' },
    class:'btn btn-default',
    remote: true,
    title: 'Clear the play list, add all songs sorted ramdomly and start to play',
    type: 'script' do %>
    <span class="glyphicon glyphicon-play"></span>
    Play all random on '<%= playlist_name %>'
  <% end %>

  <%= link_to music_cmd_songs_path({ :cmd => :rescan_music }) ,
    class:'btn btn-default',
    remote: true,
    title: 'Check device for songs changes. This can take some time',
    type: 'script' do %>
    <span class="glyphicon glyphicon-refresh"></span> Refresh available songs
  <% end %>

</p>

<%# The filter %>
<%= render 'shared/songs_filter/form' , { id: 'songs' , songs_set: @songs , search_text: params[:text] } %>

<%# Table operations %>
<div class="songs_ops_container sticky_ops">
  <%= render 'shared/songs_table/operations' %>
</div>

<%# Songs table %>
<%= render 'shared/songs_table/table' , { id: 'songs' , songs_set: @songs } %>

<%# Path to load the next songs page %>
<%= hidden_field_tag 'load_page_path' , load_page_songs_path %>

<%# Initialize the page %>
<%= javascript_tag do %>
  pageState.setPage( songsIndexPage );
<% end %>
