<% content_for :title, "Edit album " + @album.name %>
<h1>Edit album</h1>

<%= render 'shared/form_messages' , { messages: @album.errors } %>

<%= form_for @album do |f| %>

  <div class="form-group">
    <%= f.label :name , class: 'control-label' %>
    <%= f.text_field :name , class: 'form-control' , maxlength: Constants::NAME_MAX_LENGTH %>
  </div>

  <div class="form-group">
    <%= f.label :year , class: 'control-label' %>
    <%= f.text_field :year , class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
